# Application
PORT=3000
NODE_ENV=development

# Database Configuration for PostgreSQL
DB_HOST=db
DB_USERNAME=postgres
DB_PASSWORD=your_secure_password
DATABASE_NAME=your_database_name
DB_DRIVER=postgres

DATABASE_URL="postgresql://postgres:your_secure_password@localhost:5432/your_database_name"

# Admin User Credentials; change these in production
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_me

# JWT Configuration
JWT_SECRET=your-jwt-secret
JWT_REFRESH_SECRET=your-jwt-refresh-secret
JWT_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# Cloudflare R2 Configuration
R2_ACCOUNT_ID=your_cloudflare_account_id
R2_ACCESS_KEY_ID=your_r2_access_key_id
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
R2_BUCKET_NAME=your_bucket_name
R2_PUBLIC_URL=https://pub-xxxx.r2.dev
R2_FOLDER=dev
